html {
    width: 320px;
    height: 568px;
    position: relative;
}

/* ----------------------- */
/* user interface          */
/* ----------------------- */
/* action buttons */
#actions {
    position: absolute;
    bottom: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    background-color: rgba(240, 240, 240, 0.90);
    opacity: 1.0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

    body.show-history #actions {
        opacity: 0.0;
    }

    #actions a {
        font-size: 24px;
        height: 40px;
        line-height: 40px !important;
        display: inline-block;
        padding: 0px 10px;
        color: #435059;
    }

    #actions #right-buttons {
        float: right;
    }

/* question popup */
#question {
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    top: 100px;
    z-index: 2;
}

    #question > div {
        position: absolute;
        top: 10px;
        left: 15px;
        right: 20px;
        height: 34px;
    }

    #question textarea {
        width: 100%;
        height: 30px;
        outline: none;
        border: none;
    }

    #question menu {
        border-bottom: 1px solid #ccc;
        padding: 10px 15px;
        position: absolute;
        top: 55px;
        left: 0px;
        right: 0px;
    }

        #question menu a {
            font-family: "GothamLight", Gotham, serif;
            font-size: 14px;
            color: #435059;
        }

        #question menu a:last-child {
            float: right;
            font-family: "GothamMedium", Gotham, serif;
        }

    #question ul {
        position: absolute;
        top: 92px;
        padding: 0px 20px;
        overflow: auto;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-color: #fafafa;
        font-family: "GothamLight", Gotham, serif;
    }

        #question ul li {
            padding: 10px 0px;
            border-bottom: 1px dotted #ddd;
            min-height: 48px;
        }

            #question ul li a {
                display: block;
                float: left;
                color: #333;
                font-size: 10px;
                background-color: #eee;
                padding: 10px;
            }

                #question ul li a span {
                    display: block;
                    font-size: 14px;
                    margin-bottom: 4px;
                }

            #question ul li p {
                padding-left: 45px;
                font-size: 14px;
                padding-top: 5px;
            }

/* history */
main {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f6f8f8;
    overflow: hidden;
}

    main article {
        -webkit-transform: scale(1);
        -webkit-transition: -webkit-transform;
        -webkit-transition: transform;
        transition: transform;
        -webkit-transition-duration: 0.5s;
        background-color: white !important;
        width: 100%;
        right: auto !important;
        display: none;
    }

    article.current {
        display: block;
    }

    body.show-history main article {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        box-shadow: 0px 0px 26px rgba(0,0,0,0.3);
    }

#history-actions {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
    z-index: 10;
}

body.show-history #history-actions {
    display: block;
}

    #history-actions a {
        font-size: 20px;
        color: #333;
    }

    #history-actions a:last-child {
        float: right;
    }


/* ----------------------- */
/* topic actions           */
/* ----------------------- */
#topic-actions {
    position: absolute;
    height: 30px;
    left: 0px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

    #topic-actions a {
        vertical-align: middle;
        display: table-cell;
        font-size: 14px;
        text-align: center;
        color: #34545a;
        font-family: "GothamBook", Gotham, serif;
        width: 1%;
    }

        #topic-actions a span {
            font-size: 30px;
            display: block;
            margin-bottom: 10px;
        }

/* ----------------------- */
/* slides                  */
/* ----------------------- */
article.title h1 {
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}

    article.title h1 [class^="pe-7s-"] {
        top: 3px;
        margin-right: 15px;
    }

article.title li span {
    font-size: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

article.content li {
    margin-bottom: 25px;
    position: relative;
    -webkit-transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: -webkit-filter 0.3s;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

article.content li.tapped {
    -webkit-filter: blur(10px);
    filter: blur(8px);
}

article.content li:first-child {
    padding-top: 10px;
}

    article.content li h1 {
        margin-bottom: 5px;
        font-size: 17px;
    }

    article.content {
        font-family: "GothamLight", Gotham, serif;
        font-size: 15px;
        line-height: 24px;
        color: #777;
    }

article.column section:first-child h1 {
    font-family: "GothamMedium", Gotham, serif;
    font-size: 30px;
    line-height: 35px;
    height: 1em !important;
    width: auto !important;
    line-height: 1em !important;
    margin-bottom: 35px;
    padding-top: 35px;
    border-top-style: solid;
    border-top-width: 8px;
    border-radius: 0px !important;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 20px;
    background-color: transparent !important;
    color: #333 !important;
    text-transform: uppercase;
    letter-spacing: 1px
}

article.column section:last-child {
    overflow: auto;
    position: absolute;
    top: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px 20px 30px 20px;
}

article.column section:last-child h1 {
    color: #333 !important;
    font-family: "GothamBook", Gotham, serif;
}

[data-lt-poll-option]:hover {
    cursor: pointer;
}

[data-lt-poll-count]::after {
    content: attr(data-lt-poll-count);
    display: inline-block;
    background-color: #933;
    color: white;
    border-radius: 22px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    box-sizing: border-box;
    font-size: 12px;
    margin-left: 8px;
    font-family: "GothamBook", Gotham, serif;
    overflow: hidden;
    text-align: center;
}

[data-lt-help-count]::after {
    content: attr(data-lt-help-count);
    display: inline-block;
    background-color: #933;
    color: white;
    border-radius: 22px;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    font-size: 12px;
    margin-left: 8px;
    font-family: "GothamBook", Gotham, serif;
    position: relative;
    top: -1px;
    overflow: hidden;
    text-align: center;
}

img.projector-only {
    display: none;
}
