article {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

article.current {
    display: block;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: "GothamBold", Gotham, serif;
    font-weight: normal;
}

h1 {
    line-height: 1.3em;
}

.tour {
    color: #777;
}

article.title h1 {
    background-color: #f1edec;
    color: #435059;
    text-transform: uppercase;
    display: inline-block;
}

    h1 [class^="pe-7s-"] {
        position: relative;
    }

article.title li span {
    color: #f1edec;
    background-color: #435059;
    font-family: "GothamBold", Gotham, serif;
    text-align: right;
    line-height: 1.2em;
    display: inline-block;
}

article.content img.fullscreen {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
